git+https://github.com/ivirshup/binsparse-python.git@main
dask[complete]
polars
dask-expr
dask-geopandas
dask_labextension
fiona
geopandas
h5netcdf
hydra-core
jupyter
jupyterlab
matplotlib
numpy
omegaconf
pandas
psutil
pre-commit
QtPy
rasterio
ruff
scikit-learn
scipy
shapely
tornado
tqdm
xarray
zarr
